<nav>
    <ul>
        <li>
            <a href="/">
                <h1>Inventory Application</h1>
            </a>
        </li>
        <li><a href="/authors" class="btn">Authors</a></li>
    </ul>
    <a href="/manga/create" class="btn">New Manga</a>
</nav>
