<%- include("./partials/head") %>
<body>
    <header><%- include("./partials/nav") %></header>
    <div class="authors-container">
        <% mangas.forEach((manga)=>{%>
        <a
            href="/authors/<%= encodeURIComponent(manga.author)%>"
            class="authora">
            <button class="authorbutton"><%= manga.author %></button>
        </a>
        <%})%>
    </div>
</body>
