<%- include('./partials/head') %>
    <div class="containererr">
        <h1 style="font-size: 160px;">LOL!!!!</h1>
        <p>Invalid URL</p>
        <a href="/manga/create" class="btn" style="margin-top: 20px;">Go Back</a>
    </div>