* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #030712;
}

li > a,
nav > a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav > ul {
    display: flex;
    gap: 50px;
    padding: 20px;
}

a > h1 {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #0070f3;
    border: 1px solid #0070f3;
    padding: 5px 10px;
    font-size: 20px;
    width: fit-content;
    margin-top: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.actualcard {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    position: relative;
    background-color: #2a2a2a;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.actualcard:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container {
    display: flex;
    padding: 30px 45px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.mangacardcontent {
    position: absolute;
    bottom: 0px;
    background-color: #000000a6;
    width: inherit;
    padding: 6px;
}

.mangacardcontent > h2 {
    font-size: 16px;
    color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay-buttons {
    position: absolute;
    top: 100px;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.update,
.del {
    background-color: transparent;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    padding: 5px 10px;

    color: #5cda95;
    border: 1px solid #5cda95;
}

.del {
    color: #e86c80;
    border: 1px solid #e86c80;
}

.update:hover {
    background-color: #5cda95;
    color: white;
}

.del:hover {
    background-color: #e86c80;
    color: white;
}

.overlay-buttons {
    display: none;
}

.actualcard:hover .overlay-buttons {
    display: flex;
}
/* .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #0070f3;
    border: 1px solid #0070f3;
    padding: 5px 10px;
    font-size: 20px;
    width: fit-content;
    margin-top: 5px;
} */

.authors-container{
    padding: 30px 45px;
    display: flex;
    gap: 30px;  
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    list-style-type: none;
}

.authora > button {
    padding: 5px 10px;
    font-size: 25px;
    width: fit-content;
    margin-top: 5px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
    color: white;
}